.tooltip {
  &-container {
    position: relative;
  }

  &-box {
    background: rgba(0, 0, 0, 0.9);
    font-size: 0.9rem;
    color: #fff;
    padding: 2px 8px;
    border-radius: 4px;
    bottom: calc(100% + 7px);
    display: none;
    position: absolute;
    width: fit-content;
    text-align: center;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    &.visible {
      display: block;
    }
  }

  &-arrow {
    position: absolute;
    bottom: -10px;
    left: 10%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.9) transparent;
    transform: rotate(180deg);
  }
}