@mixin ellipses {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-truncate {
  position: relative;
  user-select: text;
  white-space: nowrap;
  min-width: 1px;

  div:first-of-type {
    position: absolute;
    visibility: hidden;
    width: 0px;
    height: 0px;
  }

  div:nth-of-type(2) {
    overflow: hidden;
    user-select: all;
    position: relative;

    &:focus-visible {
      outline: none;
    }
  }

  &-no-tail {
    @include ellipses;
  }
}